/* thema.css */

html {
    /* 1rem */
    font-size: 20px;
}

body {
    color: gray;
}

header {
    width: 100%; height: 9rem;
    font-size: 2rem;
}
    .container-header {

    }
        .header-top {
            width: 100%; height: 6rem;
            background-image: url(../image/webhard.jpg);
            background-size: cover;
            background-position: 50% 40%;
            background-repeat: no-repeat;
        }
        .header-nav {
            width: 100%; height: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: silver;
        }
            .header-nav li {
                margin-right: 2rem;
            }
            .header-nav li:hover {
                font-weight: bold;
            }

main {

}