

<div class="container-header">
    <div class="header-top"></div>
    <ul class="header-nav">
        <li>
            <a href="https://varzeny.com">V</a>
        </li>

        <li>
            <a href="/files/">Files</a>
        </li>


        {% if role == "guest" %}
        <li>
            <a href="https://auth.varzeny.com/login/page">Login</a>
        </li>

        {% else %}
        <li>
            <a href="https://webhard.varzeny.com/ftp/page">FTP</a>
        </li>
        <li>
            <a href="">My</a>
        </li>
        <li>
            <a href="https://auth.varzeny.com/logout">LogOut</a>
        </li>
        {% endif %}
    </ul>
</div>